<div [formGroup]="form">
    <mat-label [attr.for]="question.key">{{ question.label }}</mat-label>
    <div [ngSwitch]="question.controlType">
      <mat-form-field *ngSwitchCase="'textbox'" >
        <input
          matInput
          [formControlName]="question.key"
          [id]="question.key"
          [type]="question.type"
        >
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'date'">
        <mat-label>Choose a date</mat-label>
        <input 
          matInput 
          [matDatepicker]="picker"
          [formControlName]="question.key"
          [id]="question.key"
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'checkbox'">
        <mat-checkbox
          [id]="question.key"
        ><input matInput [formControlName]="question.key" ></mat-checkbox>
      </mat-form-field>
    </div>
    
    <mat-error *ngIf="!isValid">{{question.label}} is required.</mat-error>
</div>